<template>
  <div>
    <h1 class="title">Todo List</h1>

    <input type="text" v-model="description" placeholder="A faire :" @keyup.enter="addTodo">
    <button type="submit" @click="addTodo">Valider</button>
    <br>
    <button @click="sortTodo">Trier par Nom</button>
    <button @click="sortTodoDateOld">Afficher les plus anciennes</button>
    <button @click="sortTodoDateNew">Afficher les plus récentes</button>
     
    <transition-group name="fade" tag="div"  mode="out-in"  class="todos"> 
        <div v-for="(todo, index) in todos" :key="todo.id">
            <Todo v-if="!todo.delete" 
                @click.native="completeTodo(index)"  
                @click.prevent.right.native="deleteTodo(index)"
                @deleteEvent="deleteTodo(index)"
                :todo="todo" 
                :style="todo.completed ? {'background': '#41b883', 'text-decoration': 'line-through', 'text-decoration-thickness': '4px', 'text-decoration-style': 'solid'} : null" />
        </div>
    </transition-group>

  </div>
</template>

<script>
import Todo from '@/components/Todo.vue'

export default {
    components: {
        Todo
    },
    data() {
        return {
            description: '',
            todos: [],
            id: 0
        }
    },
    methods: {
        addTodo() {
            this.id ++;
            let todo = { 
                id: this.id,
                description: this.description,
                completed: false,
                delete: false,
                date: ''
            };

            todo.date = this.setDate();

            this.todos.push(todo);
            this.description = '';
        },
        setDate() {
            let date = new Date();
            let result = "";
        
            result += date.getFullYear()+"/"+(date.getMonth()+1)+"/"+date.getDate() + 
            " "+ date.getHours()+":"+date.getMinutes()+":"+
            date.getSeconds()

            return result;
        },
        completeTodo(index) {
            this.todos[index].completed = true;
        },
        sortTodo() {
            this.todos.sort((a, b) => (a.description > b.description) ? 1 : -1);
        },
        sortTodoDateOld() {
            this.todos.sort((a, b) => (a.date < b.date) ? 1 : -1);
        },
        sortTodoDateNew() {
            this.todos.sort((a, b) => (a.date > b.date) ? 1 : -1);
        },
        deleteTodo(index) {
            this.todos[index].delete = true;
        }
    }
}
</script>

<style>

body{
    background: #2A3132
}

button {
	border:none;
	padding:6px;
    margin: 6px;
	border-radius:8px;
	background:#41b883;
	font:bold 13px Arial;
	color:#fff;
}

.title {
    color: whitesmoke
}

.todos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 }

/* ------- Transitions ------- */

.fade-enter,
.fade-leave-to {
    transform: translateX(30px);
    opacity: 0;
}

.fade-enter-to,
.fade-leave-active {
    transition: all .5s ease-out;
}

.fade-leave-to {
        transform: translateX(-30px);

    opacity: 0;
}

.fade-move {
  transition: transform 1s;
}
</style>