<template>
    <div class="todo">
        <p class="description">{{ todo.description }}</p>
        <span class="dateInfo"> Todo datant du : </span>
        <p class="dateInfo"> {{ todo.date }} </p>
        <button class="danger" @click="deleteEvent">Supprimer</button>
    </div>
</template>

<script>
export default {
    props: ['todo'],
    methods: {
        deleteEvent() {
            this.$emit('deleteEvent');
        } 
    }
}
</script>

<style>
.danger {
    border:none;
    padding:6px;
    margin: 6px;
    border-radius:8px;
    background:#763626;
    font:bold 13px Arial;
    color:#fff;
}

.todo {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    background: #4682B4;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    margin: 50px;
    display: inline-block;
}

.description {
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
}

.dateInfo {
    font-weight: bold;
}
</style>